body {
    margin: 0;
    padding: 0;
    background-color: #121416;
    color: #f4f4f2;
    transition: .15s;
}

.charKey, #equal, #clear {
    background-color: #233A69;
}

.charKeyNumber {
    background-color: grey;
    color: #233A69;
}

#switchTheme {
    background-color: #121416;
    border: .125rem solid #f4f4f2;  
    color: #f4f4f2;
}

#switchTheme:hover {
    font-size: medium;
    cursor: pointer;
}

main {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 0 1.5rem 2.5rem;
  position: relative;
  font-family: "Alan Sans", sans-serif;
  font-style: normal;
}

header {
  padding: 2rem 0;
}

button {
  border: none;
  border-radius: .25rem;
  font-weight: 700;
  padding: .5rem 1rem;
  font-family: "Alan Sans", sans-serif;
  font-style: normal;
}

input {
  background-color: #121416;
  border: 2px solid #D4CDC5;
  border-radius: .5rem;
  color: #f4f4f2;
  display: block;
  font-size: 1.54rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: end;
  width: 94%;
  font-family: "Alan Sans", sans-serif;
  font-style: normal;
  transition: .15s;
}

#keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 2rem 0;
}

#keys button {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem;
}

#keys button:hover {
  filter: brightness(0.8);
}

#result {
  border-width: 2px 2px 2px 0;
  border-radius: 0 .5rem .5rem 0;
}

#copy {
  background-color: transparent;
  border: solid #D4CDC5;
  border-width: 2px;
  border-radius: .5rem 0 0 .5rem;
  color: #f4f4f2;
  cursor: pointer;
  display: block;
  height: 4.25rem;
  width: 6rem;
  transition: .15s;
}

#copy:hover {
  font-size: .9rem;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.sucess {
  border-color: rgb(2, 180, 2) !important;
  color: rgb(2, 180, 2) !important;
}

.error {
  background-color: red;
}